/* $topbar-height-proportion: (/978) * 100%;
 */
.sidebar-container {
  box-shadow: 0px 4px 4px 0px #000000 25%;
  background: #662323;
  /* border: solid; */
  display: flex;
  flex-direction: column;
  padding: 5.1124744376% 12.1212121212%;
  color: white;
  text-decoration: none;
}
.sidebar-container__image {
  width: 100%;
}
.sidebar-container__list {
  padding: 0;
}
.sidebar-container__list__element {
  color: white;
  list-style-type: none;
}
.sidebar-container__list__element__link {
  color: white;
  text-decoration: none;
}

/* .sidebar__content {
  background: $sidebar-color;

  display: flex;
  flex-direction: column;
  padding: $sidebar-height-padding-proportion $sidebar-width-padding-proportion;
} */